<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            <h1>New task added!</h1>
            <div>Your task: {{ newtask.getDesc }}</div>
            <a href='/'>Go To List</a>
            <form action='/taskdeleted' method='post'><button class="btn btn-warning" type='submit'>Clear Tasks</button></form>
        </div>
    </body>
</html>
